.DS_Store
*.sw[nop]
.bundle
.env
db/*.sqlite3
log/*.log
rerun.txt
tags
!tags/
tmp/**/*
!tmp/cache/.keep
*.un~
.CFUserTextEncoding
.adobe/*
.agignore
.aliases
.bash_history
.bin/*
.cache/*
.cups/*
.dropbox/*
.gem/*
.gemrc
.git_template/*
.gitconfig
.gitmessage
.guard_history
.gvimrc
.heroku/*
.hushlogin
.irbrc
.lesshst
.netrc
.pia_manager/*
.pry_history*
.psqlrc
.rbenv/*
.rcrc
.rspec
.ssh/*
.subversion/*
.tmux.conf
.vim/*
.viminfo
.vimrc
.vimrc.bundles
.zcompdump
.zhistory
.zsh/*
.zshenv
.zshrc
Applications/*
Desktop/*
Documents
Downloads
Dropbox/*
Handbrake
Journaling/*
Library/*
Movies
Music/*
Overdrive
Pictures/*
Public/*
Ruby
Sublime
dotfiles/*
dotfiles/
laptop.log
mac
mvim
uTorrent
.Trash
.rnd
